body{
    padding: 5px 5px 5px;
    background-color: azure;
    margin-top: 0;
}

.heading{
    font-family: 'Times New Roman', Times, serif;
    font-size: 36px;
    background-color: rgb(216, 233, 247);
    padding: 8px 8px 8px;
    text-align: center;
    border: 2px solid black;
}

#two{
    font-size: 18px;
    text-align: left;
}

#four{
    font-size: 14px;
    text-align: left;
}

.image{
    display: block;
    margin: 0 auto;
}

.caption{
    text-align: center;
}

.home-link{
    display: block;
    text-align: center;
}

.ordered,
.unordered{
    padding: 8px 30px 8px;
    border: 2px solid black;
}

li{
    padding-top: 5px;
    padding-bottom: 5px;
}

